.header {
  top: 0;
  left: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #2b3d44;
  min-height: 60px;
  background-color: #f8f8ff;
}
